<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="/fragments/head :: head"></head>

<body>


	<table id="table1">

		<thead>
			<tr>
				<th>Nombre</th>
				<th>Apellido</th>
				<th>Email</th>
			</tr>
		</thead>

		<tbody>
			<tr>
				<td th:text="${user.name}"></td>
				<td th:text="${user.surname}"></td>
				<td th:text="${user.email}"></td>
				<td><a class="btn btn-primary"
					th:href="@{/usuario/update/{id}(id=${user.id})}">Actualizar</a></td>
			</tr>
		</tbody>
	</table>

 <table class="form2">
			<thead>
				<th>Seleccione las paltaformas contratadas</th>
			</thead>
			<tbody th:each="Platform : ${platforms}">
				<tr>
				

					<td style="width: 50px; height: 50px">
						<img alt="" th:src="*{'data:image/jpeg;base64,'+{Platform.image}}"
							style="width: 100px; height: 100px">
						<input type="checkbox" name="idPlatform" th:value="${Platform.id}">
						<p th:text="${Platform.name}"></p>
					</td>
				</tr>
			</tbody>
		</table>

              <button class="btn btn-primary" type="submit">SAVE</button>
            </div>

	</form>



		<footer class="pie-pagina" th:replace="/fragments/footer :: footer"></footer>
</body>

</html>