
body{
    height: 100vh; 
    
    background:  linear-gradient(180deg, hsl(0, 1%, 31%),#2C2929,#2D2B2B );
    background-repeat:inherit;
    position: relative;
    font-family:Gotham-Bold;
}
header{
    margin: top 0;
    position: relative;
    height: 75px;
    background: #C4C4C4;
}
nav ul{
	float: right;
	margin-right: 20px;
	padding: 20px;
    }
nav ul li{
	display: inline-block;

    }
nav ul li a{
    padding: 10px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
}
.section1{
    width: 80%;
}

.img-fluid{
     width:250px; 
     margin-top:30px;
     margin-left:100px;
     margin-right:80px;
     margin-bottom:115px;
     box-shadow: 7px 35px 23px #000;
     
}

th {
    font-size: 35px;
    line-height: 20px;
    padding: 0 20px;
    text-align: justify;
    vertical-align: top;
    margin-bottom:30px;
    width: 50%;
    color: white;
}

.text {
    font-size: 30px;
    line-height: 20px;
    padding: 0 20px;
    text-align: justify;    
    width: 50%;
    color: white;
}

.textcreate {
    font-size: 30px;
    line-height: 20px;
    margin-bottom:15px;
    margin-top:10px;
    text-align: justify;    
    width: 100%;
    color: white;
}

.formcreate {
    margin-left:550px;
    margin-top:100px;
    margin-bottom:145px;
    
}

.custom-file-input{
	font-size: 20px;
    line-height: 20px;
    margin-bottom:10px;
    margin-top:5px;
    text-align: justify;    
    width: 300%;
    color: white;
}

.img{
     margin-right:10px;
     margin-left:50px; 
     margin-bottom:10px;
     width: 100px;     
     border-radius:20px;
}

.image{
     margin-right:10px;
     margin-left:0px; 
     margin-bottom:20px;
     margin-top:20px;
     width: 180px; 
     height: 180px;    
     
}

.pie-pagina{
      background-color: #efbb1e;
     padding: 1em 0;
     margin-top: auto;
     height: 50px;
      
  }

  .pie-pagina .centrado{
      text-align: center;
  }
