<!DOCTYPE html>

<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<header th:replace="/fragments/headercontent :: header"></header>

<body>

  <table>
    <thead>
      <tr>
      	
        <th scope="col">Name</th>       
        <th scope="col">Image</th>
         
      </tr>
    </thead>

    <tbody th:each="Content : ${content}">
      <tr>


        <td class="text" th:text="${Content.name}"></td>        
        <td ><img alt="La imagen no carga" class="image" th:src="*{'data:image/jpeg;base64,'+{Content.image}}"></td>
        <td><a class="btn btn-danger" th:href="@{/content/remove/{id}(id=${Content.id})}">Eliminar</a></td>
        <td><a class="btn btn-primary" th:href="@{/content/update/{id}(id=${Content.id})}">Actualizar</a></td>

      </tr>
      <!-- class="btn btn-warning text-white" -->
      <!-- class="btn btn-warning text-white" -->
    </tbody>
  </table>

  <a class="btn btn-success" th:href="@{/content/create}">Create new Content</a>
  <footer th:replace="/fragments/footercontent :: footer"></footer>

</body>

</html>