<!DOCTYPE html>

<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<header th:replace="/fragments/headercontent :: header"></header>

<body>
    <section>
        <form class="formcreate" action="/content/create" method="POST" enctype="multipart/form-data">
            <div class="col-md-4">
                <label for="validationName" class="textcreate"> Name</label>                                                
                <input type="text" class="form-control" name="name">                               
                <label class="textcreate"> Add an image  </label>               
                <input type="file" name="file" class="custom-file-input" id="customFile" accept="image/png, image/jpeg, image/jpg">
                <label class="textcreate" for="customFile">Choose file</label>
                <button class="btn btn-primary" type="submit">SAVE</button>               
            </div>           
        </form>
    </section>
	<footer th:replace="/fragments/footer :: footer"></footer>
</body>

</html>