<!DOCTYPE html>

<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<header th:replace="/fragments/headercontent :: header"></header>

<body>
<table>
    <thead>
      <tr>
      	
        <th scope="col">Name</th>       
        <th scope="col">Image</th>
        <th scope="col" class="titulo">Available in </th>
       
         
      </tr>
    </thead>

    <tbody th:each="Content : ${content}">    
    	<tr>

        	<td class="text" th:text="${Content.name}"></td>        
        	<td ><img alt="La imagen no carga" class="image" th:src="*{'data:image/jpeg;base64,'+{Content.image}}"></td>                              
      	<td><img alt="La imagen no carga" class="image" th:src="@{/img/netflix.png}"></td> 
      	</tr>
      <!-- class="btn btn-warning text-white" -->
      <!-- class="btn btn-warning text-white" -->
    </tbody>
  </table>
  <footer th:replace="/fragments/footercontentdetalles :: footer"></footer>
  </body>
</html>
