<!DOCTYPE html>
<html lang="en">
    <html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"></html>
<head>
    <script src="https://kit.fontawesome.com/ac28add39f.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>proyecto final</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="fuentes.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <header>
        <nav>
            <a href="index.html"><object data = "images/Artboard 2.svg" width = "300" height = "90"> </object></a>
            <ul>
                <li><a href="inicio.html">inicio</a></li>
                <li><a href="usuario.html">usuario</a></li>
            </ul>
            </nav>
    </header>
    <div class="d-flex justify-content-center"><section class="peli">
       <table>
           <thead>
           <tr>
             <td class="first">
                <p><img th:src="#" class="img-fluid" alt="logo_peli"></p>
             </td>  
             <td class="second">
                <br><h1 class="titulo">Avengers</h1>
                <h5 class="titulo2">Solo disponible en</h5>
                <p><img th:src="#" class="img" alt="logo_plat"></p>
             </td> 
           </tr>
           </thead>
           <tbody th:each=""></tbody>
       </table>
    </section>
</div>
<footer class="pie-pagina">
    <div class="col-md-12 centrado"><small>&copy;2021 <b>StreamCatch</b> Todo los Derechos Reservados.</small>
    </div>
  </footer>
  
</body>
</html>