<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://kit.fontawesome.com/ac28add39f.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>proyecto final</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="fuentes.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <header>
        <nav>
            <a href="index.html"><object data = "images/Artboard 2.svg" width = "300" height = "90"> </object></a>
            <ul>
                <li><a href="inicio.html">inicio</a></li>
                <li><a href="usuario.html">usuario</a></li>
            </ul>
            </nav>
    </header>
    <div class="d-flex justify-content-center"><section class="peli">
       <table>
           <tr>
             <td class="first">
                <p><img src="images/vengadores.jpg" class="img-fluid" alt="..."></p>
             </td>  
             <td class="second">
                <br><h1 class="titulo">Avengers</h1>
                <h5 class="titulo2">Solo disponible en</h5>
                <p><img src="images/Icon_NETFLIX.png" class="img" alt="..."></p>
             </td> 
           </tr>
       </table>
    </section>
</div>
<footer class="pie-pagina">    
     <div class="grupo1">        
          <div class="box">             
              <figure><a href="#"><img src="images/Artboard 2.svg" alt="Logo Proyecto"></a>           
            </figure>         
        </div>         
        <div class="box"><h2>SOBRE NOSOTROS</h2>
            <p>Buscamos la peli por vos</p>             
            <p>Tambien las series</p>         
        </div>         
        <div class="box"><h2>SIGUENOS</h2>
             <div class="red-social">
                 <a href="#" class="fa fa-facebook"></a>                
                  <a href="#" class="fa fa-twitter"></a>                 
                  <a href="#" class="fa fa-instagram"></a>                 
                  <a href="#" class="fa fa-linkedin"></a>             
                </div>         
            </div>     
        </div>     
        <div class="grupo2">
             <small>&copy;2021 
                 <b>StreamCatch</b> 
                 Todo los Derechos Reservados.</small>     </div> </footer>
</body>
</html>