<!DOCTYPE html>
<html lang="en">
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>StreamCatch</title>
  </head>
  <header th:replace="/fragments/header :: header"></header>
  <body>
    <section class="section1">
      <header>
        <div class="menu">
          <nav>
            <ul>
              <li><a href="#">Inicio</a> </li>
            </ul>
          </nav>
        </div>
      </header>
    </section>
    <div class="contenedor">
      <center>
        <div class="d-flex justify-content-center">
          <section class="form-register">
            <div class="form1">
              <h4>Crear cuenta</h4>
              <input class="controls" type="text" name="nombres" id="nombres" placeholder="Ingrese su nombre"><br>
              <input class="controls" type="text" name="apellidos" id="apellidos" placeholder="Ingrese su apellido"><br>
              <input class="controls" type="text" name="correo" id="correo" placeholder="Ingrese su correo"><br>
              <input class="controls" type="text" name="contraseña" id="contraseña" placeholder="Ingrese su contraseña"><br>
            </div>
            <div class="form2">
              <p>Seleccione las paltaformas contratadas</p>
              <label class="checkbox"><input type="checkbox" id="cbox1netflix" value="cbox1netflix">
                <p>Netflix</p>
              </label>
              <label class="checkbox"><input type="checkbox" id="cbox2amazonprime" value="cbox2amazonprime">
              <p>Amazon Prime</p>
              </label>
              <lavel class="checkbox"><input type="checkbox" id="cbox3starchannel" value="cbox3starchannel">
                <p>Star Channel</p>
              </label>
            </div>
            <div>
              
                <input class="button" type="submit" value="Registrarme">
              
            </div>       
          </section>
        </div>
      </center>
    </div>
    <footer class="pie-pagina">
      <div class="col-md-12 centrado"><small>&copy;2021 <b>StreamCatch</b>Todos los derechos reservados</small>
      </div>
    </footer>
  </body>
</html>